body {
    
    margin: 0;
    padding: 20px;

}
.nav {
    text-align: right;
    font-size: 1.1em;
    font-family: 'Courier New', Courier, monospace;
    height:-1%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 5px 30px;
    color: #fff;
    text-decoration: none;
    
}

.content {

    padding: 55px;
    font-family: fantasy;
    font-size: xx-large;
}
.div1,.div2{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family:cursive;
    font-size:larger;
    text-align: center;
}

header{
    background-color: #4d42686b;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 5%;
    padding: 9px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    font-size: 1.1em;
}
.header,img{
    height: 300%;
}

.div2 p a i{
    align-items: center;
    text-align: center;
    justify-content: baseline;
    color: black;
    font-size:xx-large;
    
}
/* Responsive styles */
@media (max-width: 1200px) {
    .content {
        font-size: x-large;
    }
    .div1, .div2 {
        font-size: large;
    }
}

@media (max-width: 992px) {
    .nav {
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    nav ul li a {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
    }
}

@media (max-width: 768px) {
    header {
        display: inline-flex;
        flex-direction:row;
        height: 15%;
    }
    .content {
        padding: 155px;
        font-size: large;
    }
    .div1, .div2 {
        flex-direction: column;
        font-size: medium;
    }
    nav ul li a {
        display: inline-block;
        padding: 1px 30px;
        text-decoration: none;
    }
    .header,img{
    height: 200%;
}
}

@media (max-width: 576px) {
     header {
        display: inline-flex;
        flex-direction:row;
        height: 20%;
    }
    .content {
        padding: 115px;
        font-size: medium;
    }
    .div1, .div2 {
        font-size: small;
    }
    nav ul li a {
        padding: 1px 25px;
    }
}